<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title> </smokinglopez> </title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

<header>
  <img src= "/assets/css/images/me-ascii-art.png" width="100" height="100" />
  <p><a href="/">smokinglopez</a></p>
  <nav>
    <a href="/">home</a> |
    <a href="{{ site.baseurl }}/about/">about me</a> |
    <a href="https://x.com/lopezcrypto">social</a>
  </nav>
</header>

<main>
  {{ content }}
</main>

<footer>
  <p>© {{ site.time | date: "%Y" }} @smokinglopez </p>
</footer>

</body>
</html>
